<div class="row">
    <section class="d-flex mb-5">        
        <div class="col-6 mt-4">
        <h4>Candidatos</h4>
        </div>
        <div class="col-6 text-end mt-4">
            <a href="/vote" class="btn btn-danger btn-sm w-25">
                Volver
            </a>
        </div>
    </div>
    </section>


    {{#if hasCandidates}}

    {{#each candidates as |candidate|}}
      <section class="col-5 my-4 mx-auto">
        <div class="card text-white border-0 shadow">
          <section
            class="card-header bg-primary w-100 d-flex justify-content-center fw-bold text-uppercase"
          >
            {{candidate.firstName}}
            {{candidate.lastName}}
          </section>
          <section class="card-body"> 
            <img
              src="{{candidate.ProfilePhoto}}"
              class="card-img-top img-fluid"
              style="height: 250px; object-fit: cover;"
              alt="politic"
            />
          </section>
          <section class="card-footer p-2">
            <div class="d-flex flex-column gap-2">
              <section class="text-dark">
                <p>{{candidate.Politic.dataValues.name}}</p>
              </section>
              <section class="text-dark">
                <p>{{candidate.ElectivePosition.dataValues.name}}</p>
              </section>
            </div>
            <div class="d-flex gap-2 p-2 mt-2 rounded w-100">
              <form method="POST" action="/vote/createVote" class="w-100">
                <button
                  type="submit"
                  class="btn btn-secondary w-100"
                >
                  Votar
                </button>

                {{#if (idIsNull candidate.id)}}
                  <input type="hidden" name="politicId" value="{{candidate.ElectivePosition.dataValues.id}}">
                  <input type="hidden" name="electivePositionId" value="{{candidate.Politic.dataValues.id}}">
                {{/if}}

                <input type="hidden" name="candidateId" value="{{candidate.id}}">
              </section>
            </div>
          </section>
        </div>
      </section>

    {{/each}}

    {{else}}

    {{#if hasError}}
    {{else}}
    <section class="col-6 bg-danger rounded-3 text-white text-center mx-auto p-4 mt-5">
        <h3 class="display-8 fw-normal text-uppercase fw-bolder m-0"> No hay candidatos en este partido </h3>
    </section>
    {{/if}}

    {{/if}}
</div>