<div class="row">
  <div class="col-12 mx-auto my-5">
    <button
      type="button"
      class="btn btn-primary w-100"
      data-bs-toggle="modal"
      data-bs-target="#save"
    >
      Crear nuevo candidato
    </button>
  </div>

  {{#if hasError}}
    <div class="col-6 mx-auto my-2">
      <div class="alert alert-danger text-center" role="alert">
        <strong>Error:</strong>
        {{errorMessage}}
      </div>
    </div>
  {{/if}}

  {{#if hasCandidate}}

    {{#each candidate as |candidate|}}
      <section class="col-5 my-4 mx-auto">
        <div class="card text-white border-0 shadow">
          <section
            class="card-header bg-primary w-100 d-flex justify-content-center fw-bold text-uppercase"
          >
            {{candidate.firstName}}
            {{candidate.lastName}}
          </section>
          <section class="card-body">
            <img
              src="{{candidate.ProfilePhoto}}"
              class="card-img-top img-fluid"
              style="height: 250px; object-fit: cover;"
              alt="politic"
            />
          </section>
          <section class="card-footer p-2">
            <div class="d-flex flex-column gap-2">
              <section class="text-dark">
                <p>{{candidate.Politic.dataValues.name}}</p>
              </section>
              <section class="text-dark">
                <p>{{candidate.ElectivePosition.dataValues.name}}</p>
              </section>
            </div>
            <div class="d-flex gap-2 p-2 mt-2 rounded w-100">
              <section class="w-100">
                {{#if candidate.status}}
                  <button
                    class="btn btn-danger w-100"
                    data-bs-toggle="modal"
                    data-bs-target="#status-{{candidate.id}}"
                  >Inactivar</button>
                {{else}}
                  <button
                    class="btn btn-success w-100"
                    data-bs-toggle="modal"
                    data-bs-target="#status-{{candidate.id}}"
                  >Activar</button>
                {{/if}}
              </section>
              <section class="w-100">
                <button
                  type="button"
                  class="btn btn-secondary w-100"
                  data-bs-toggle="modal"
                  data-bs-target="#edit-{{candidate.id}}"
                >
                  Editar
                </button>
              </section>
            </div>
          </section>
        </div>
      </section>

    {{/each}}

  {{else}}

    {{#if hasError}}{{else}}
      <section
        class="col-6 bg-danger rounded-3 text-white text-center mx-auto p-4 mt-5"
      >
        <h3 class="display-8 fw-normal text-uppercase fw-bolder m-0">
          No hay registros de candidatos
        </h3>
      </section>
    {{/if}}

  {{/if}}
</div>